<nav class="topnav">
  {% for item in site.data.navigation %}
    {% if item.name == "Home" %}
      <a href="{{ item.link | relative_url }}" class="icon-home">{{ item.name }}</a>
    {% elsif item.name == "Biography" %}
      <a href="{{ item.link | relative_url }}" class="icon-info">{{ item.name }}</a>
    {% elsif item.name == "Favorite" %}
      <a href="{{ item.link | relative_url }}" class="icon-star-full">{{ item.name }}</a>
    {% elsif item.name == "Albums" %}
      <a href="{{ item.link | relative_url }}" class="icon-music">{{ item.name }}</a>
    {% elsif item.name == "Album1" %}
      <a href="{{ item.link | relative_url }}" class="icon-music">{{ item.name }}</a>
    {% elsif item.name == "Composer" %}
      <a href="{{ item.link | relative_url }}" class="icon-users">{{ item.name }}</a>
    {% endif %}
  {% endfor %}
</nav>
<div class="dropdown">
  <input type="checkbox" id="toggle">
  <label class="hidden" for="toggle">&#9776;</label>
  <nav class="navbar">
    <ul>
      {% for item in site.data.navigation %}
        {% if item.name == "Home" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-home">{{ item.name }}</a></li>
        {% elsif item.name == "Biography" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-info">{{ item.name }}</a></li>
        {% elsif item.name == "Favorite" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-star-full">{{ item.name }}</a></li>
        {% elsif item.name == "Albums" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-music">{{ item.name }}</a></li>
        {% elsif item.name == "Album1" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-music">{{ item.name }}</a></li>
        {% elsif item.name == "Composer" %}
          <li><a href="{{ item.link | relative_url }}" class="icon-users">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>